pkgbase = bambustudio
	pkgdesc = PC Software for BambuLab's 3D printers
	pkgver = 01.10.00.81
	pkgrel = 1
	url = https://github.com/bambulab/BambuStudio
	arch = x86_64
	license = AGPLv3
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = m4
	makedepends = pkgconf
	depends = mesa
	depends = glu
	depends = cairo
	depends = gtk3
	depends = libsoup
	depends = webkit2gtk
	depends = gstreamer
	depends = openvdb
	depends = wayland
	depends = wayland-protocols
	depends = libxkbcommon
	depends = ttf-harmonyos-sans
	source = https://github.com/bambulab/BambuStudio/archive/refs/tags/v01.10.00.81.tar.gz
	source = OCCT.cmake.patch
	source = OpenCV.cmake.patch
	source = BambuStudio.desktop
	sha256sums = cbd2154b6d14683015183b11589c5ff0e953b6b86bdc5f6786dddf9fc172891d
	sha256sums = 5912ed94d8647a7dc65d1d70d8e9b8e505300455c77e618eb749871385b29c3a
	sha256sums = af0cc5e071bb50d47aabdfeac1974f99a3e6380e1c5edb8a9537e2d22e0a929d
	sha256sums = 23416806dbe9bba0f501270945e4296bb5843b12e57961af896bfb648ea28f26

pkgname = bambustudio
