[Desktop Entry]
Name=BambuStudio
Exec=/opt/bambustudio/bin/bambu-studio
Icon=BambuStudio
Type=Application
Categories=Utility;
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
